<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
		<a href="{{ '/' | relative_url }}">
			<img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}
        {% capture title %}{% t title %}{% endcapture %}
        {% if site.lang == "es" %}
        {% capture link %}{{ '/' | relative_url }}{% endcapture %}
        {% elsif site.lang == "en" %}
        {% capture link %}{{ site.baseurl_root }}/{{site.lang}}{% endcapture %}
        {% endif %}
        <a class="site-title" aria-label="{{ site.title }}" href="{{ link }}">
        {{ title }}
		</a>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fas fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        {% assign name_page = "" %}

        {% for page in site.pages %}
            {% unless page.title == null or page.hide or name_page contains page.title %}
            <li class="separator"> | </li>
            <li>
                {% capture title %}{% t page.title %}{% endcapture %}
                {% if site.lang == "es" %}
                {% capture link %}{{ site.baseurl_root }}{{page.url}}{% endcapture %}
                {% elsif site.lang == "en" %}
                {% capture link %}{{ site.baseurl_root }}/{{site.lang}}{{page.url}}{% endcapture %}
                {% endif %}
                <a class="clear" aria-label="{{ page.title }}" title="{{ title }}" href="{{ link }}">
                    {% if page.icon %} <i class="fas {{ page.icon }}" aria-hidden="true"></i>
                    {% else %} {{ title }} {% endif%}
                </a>
            </li>
            {% endunless %}
            {% assign name_page = page.title | append: name_page %}
        {% endfor %}

        <li class="separator"> | </li>
        <li><a id="theme-toggle" title="{{ page.title }} " aria-label="{{ page.title }}" onclick="themeToggle()"></a></li>
        <li>
          {% if site.lang == "es" %}
          {% capture link %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
          <a href="{{ link }}" >{% t global.english %}</a>
          {% elsif site.lang == "en" %}
          {% capture link %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
          <a href="{{ link }}" >{% t global.spanish %}</a>
          {% endif %}
        </li>
    </ul>

	</nav>
</header>
